/* Show it is fixed to the top */
body {
    padding-top: 4.5rem;
  }

  #bConver
{

position: relative;
margin: 0 auto;
margin-top: 20px;
width:300px;
top:50%;
text-align: center;
margin-bottom: 20px;

}


#bConvertir
{


margin: 0 auto;
margin-top: 20px;
width:300px;
top:50%;
text-align: center;
margin-bottom: 20px;

}